/* Header */
#appHeader{
    display:flex;
    flex-direction: row;
    justify-content:center;
    background-color: black;
    color: antiquewhite;
    padding: 2em;
}
#incomeHead{
    background-color: rgb(11, 216, 96);
    padding:0.1em 0.8em 0.1em 0.8em;
    margin-bottom: 2em;
}
#lossHead{
    background-color: red;
    padding:0.1em 0.8em 0.1em 0.8em;
}
/* Main App */
/* Aliging Input Fields ad styling*/
#inputBudget{
    background-color: azure;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div > input{
    height:3em;
}

/*Records*/
#display{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
    margin-top: 1em;
}
#income>h3{
    color:aquamarine;
    text-decoration:underline;
}
#income{
    border-right: 12px solid black;
    padding: 5px;
}
#loss{
    padding: 5px;
}
#loss>h3{
    color:red;
    text-decoration:underline;
}